/* You can add global styles to this file, and also import other style files */
@use "@angular/material" as mat;
@include mat.core();

* {
  box-sizing: border-box;
  font-family: Ubuntu !important;
}

body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  font-family: Ubuntu;
}

.form-container {
  height: 100%;
  width: 100%;
  background-color: hsl(205, 100%, 93%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.multi-step-form {
  height: 418px;
  width: 568px;
  border-radius: 10px;
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;

  &-container {
    height: 450px;
    width: 800px;
    border-radius: 10px;
    background-color: white;
    position: relative;
    padding: 1rem;
  }
}

.stepper-container {
  z-index: 2;
}

.step-form-container {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 550px;
  height: 418px;
}

.stepper-override {
  position: absolute;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0) !important;
}

.mat-step {
  height: 50px !important;
}

mat-step-header {
  width: 150px !important;
  height: 0px !important;
}

mat-label {
  transform: translateY(-50px) !important;
}

.mat-stepper-vertical-line::before {
  display: none !important;
}

.mat-form-field-label-wrapper {
  transform: translateY(-50px) !important;
}

.mat-step-text-label {
  font-size: 1rem !important;
}

.mat-step-label-top-line {
  display: block;
  font-size: 12px;
  height: 14px;
  color: hsl(231, 11%, 63%);
  margin-bottom: 2px;
}

.mat-step-label-bottom-line {
  display: block;
  font-size: 14px;
  height: 28px;
  color: white;
}

.mat-step-icon-state-edit {
  background-color: hsl(206, 94%, 87%) !important;
  color: hsl(243, 100%, 62%) !important;
}

.mat-step-icon-state-number {
  background-color: hsl(243, 100%, 62%) !important;
  color: white !important;
  border: 1px solid white !important;
}

.mdc-radio {
  display: none !important;
}

.monthly-yearly-toggle-container {
  .mdc-checkbox {
    display: none !important;
  }
}

.mat-mdc-checkbox-ripple {
  display: none !important;
}

.mdc-checkbox__ripple {
  display: none;
}

.toggle-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 486px;
  height: 45px;
  padding: 1rem 0;
  border-radius: 5px;
  background-color: hsl(226, 76%, 97%);
  margin: 1rem 0 1rem 0;
}

.toggle-switch {
  z-index: 5;
  width: 40px;
  height: 20px;
  border-radius: 20px;
  cursor: pointer;
  position: relative;
  transition: 0.2s;
  background-color: hsl(213, 96%, 18%);
  margin: 0 1.5rem;
}

.toggle-switch::before {
  position: absolute;
  content: "";
  width: 17px;
  height: 17px;
  border-radius: 50%;
  margin: 1.25px;
  transition: 0.2s;
  z-index: 6;
  background-color: white;
}

.padding-left {
  padding-left: 20px;
}

.card-radios-container {
  width: 100%;
  display: flex;
  padding-top: 1rem;
  justify-content: space-between;
}
.card-radio {
  border: 1px solid rgb(193, 193, 193);
  padding: 1rem;
  height: 160px;
  width: 130px;
  border-radius: 5px;
  cursor: pointer;
}

.card-radio-selected {
  border: 1px solid black;
  background-color: hsl(228, 100%, 95%);
}

.stepper-override > * {
  background-color: rgba(0, 0, 0, 0) !important;
  padding-top: 1rem !important;
}

.step-form-container {
  padding: 2rem;
}

.step-form-header {
  font-weight: 500 !important;
  margin: 0 !important;
}

.step-form-sub-header {
  font-size: 14px;
  color: hsl(231, 11%, 63%);
}

.stepper-form-info {
  display: flex;
  flex-direction: column;
}

.info-step-button-container {
  display: flex;
  justify-content: flex-end;
}

.plans-step-button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.add-ons-step-button-container {
  @extend .plans-step-button-container;
  margin-top: 3.45rem;
}

.plan-text-container {
  margin-top: 1rem;
}

.price-paragraph {
  margin: 0 !important;

  &-gray {
    @extend .price-paragraph;
    color: hsl(231, 11%, 63%);
  }
  &-blue {
    @extend .price-paragraph;
    color: hsl(213, 96%, 18%);
  }
}

.add-on-container {
  display: flex;
  align-items: center;
  border: 1px solid rgb(193, 193, 193);
  border-radius: 10px;
  margin: 1rem 0;
  padding: 0;
  height: 60px;
}
.add-on-test {
  .add-on-container {
    background-color: hsl(240, 100%, 98%);
    border: 1px solid hsl(243, 100%, 62%);
  }
}
.add-on-headings-container {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 205px;
  height: 40px;
  margin-left: 1rem;
  margin-right: 8rem;
  transform: translateY(-5px);
}

.add-on-heading {
  color: hsl(213, 96%, 18%);
  font-size: 14px;
  height: 14px;
}

.add-on-subheading {
  color: hsl(231, 11%, 63%);
  font-size: 13px;
  height: 14px;
}

.add-on-price {
  color: hsl(243, 100%, 62%);
  font-size: 12px;
}

.strong-height {
  height: 16px;
}

.icon-img {
  height: 418px;
  width: auto;
  position: absolute;
  top: 1rem;
  left: 1rem;
  z-index: 1;
}

.summary-container {
  margin-top: 1rem;
  background-color: hsl(240, 100%, 98%);
  border-radius: 5px;
  padding: 1rem 1rem 0 1rem;
}

.summary-selected-plan {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1rem;
    border-bottom: 0.5px solid hsl(231, 11%, 63%);
  }

  &-heading {
    height: 20px;
    font-size: 14px;
    color: hsl(213, 96%, 18%);
    font-weight: bold;
  }

  &-change {
    height: 18px;
    font-size: 12px;
    color: hsl(231, 11%, 63%);
    text-decoration: underline;
    cursor: pointer;
  }

  &-price {
    color: hsl(213, 96%, 18%);
  }
}

.summary-add-on {
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;

  &-heading {
    color: hsl(231, 11%, 63%);
  }

  &-price {
    color: hsl(213, 100%, 33%);
  }
}

.summary-total {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.summary-total .description {
  font-size: 13px;
  color: hsl(231, 11%, 63%);
}

.total-price {
  color: hsl(243, 100%, 62%);
}

.summary-step-button-container {
  display: flex;
  justify-content: space-between;
}

.summary-and-buttons-container {
  height: 308px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
$custom-primary-palette: (
  50: #e8eafc,
  100: #c9c4ff,
  200: #939cf3,
  300: #7c87ef,
  400: #6e7bed,
  500: #5761bb,
  600: #454ea2,
  700: #3b449c,
  800: #262e7b,
  900: #11174b,
  contrast: (
    50: #000,
    100: #000,
    200: #000,
    300: #000,
    400: #000,
    500: #fff,
    600: #fff,
    700: #fff,
    800: #fff,
    900: #fff,
  ),
);

$custom-typography: mat.m2-define-typography-config(
  $font-family: "Ubuntu",
);
$custom-primary: mat.m2-define-palette($custom-primary-palette);
$custom-accent: mat.m2-define-palette(mat.$m2-pink-palette, A200, A100, A400);
$custom-warn: mat.m2-define-palette(mat.$m2-red-palette);

$custom-theme: mat.m2-define-light-theme(
  (
    color: (
      primary: $custom-primary,
      accent: $custom-accent,
      warn: $custom-warn,
    ),
    typography: $custom-typography,
  )
);

@include mat.all-component-themes($custom-theme);

// $custom-light-primary: (
//   50: #e8eafc,
//   100: #c9c4ff,
//   200: #939cf3,
//   300: #7c87ef,
//   400: #6e7bed,
//   500: #5761bb,
//   600: #454ea2,
//   700: #3b449c,
//   800: #262e7b,
//   900: #11174b,
//   contrast: (
//     50: #e8eafc,
//     100: #e8eafc,
//     200: #e8eafc,
//     300: #e8eafc,
//     400: #e8eafc,
//     500: #e8eafc,
//     600: #e8eafc,
//     700: #e8eafc,
//     800: #e8eafc,
//     900: #e8eafc,
//   ),
// );

// $light-primary: mat.m2-define-palette($custom-light-primary);
// $light-accent: mat.m2-define-palette(mat.$m2-pink-palette, A200, A100, A400);

// $light-theme: mat.m2-define-light-theme(
//   (
//     color: (
//       primary: $light-primary,
//       accent: $light-accent,
//     ),
//   )
// );

// $dark-primary: mat.m2-define-palette(mat.$m2-blue-gray-palette);
// $dark-accent: mat.m2-define-palette(mat.$m2-amber-palette, A200, A100, A400);

// $dark-theme: mat.m2-define-dark-theme(
//   (
//     color: (
//       primary: $dark-primary,
//       accent: $dark-accent,
//     ),
//   )
// );

// body.dark-theme {
//   @include mat.all-component-themes($dark-theme);
// }

// body.light-theme {
//   @include mat.all-component-themes($light-theme);
// }
