<mat-radio-button #btn [value]="value.value">
  <div class="card-radio" [ngClass]="btn.checked ? 'card-radio-selected' : ''">
    <div>
      <app-icon-img
        [imgSrc]="value.cardImg"
        [imgAlt]="value.cardImgAlt"
        [imgCssStyling]="''"
      ></app-icon-img>
    </div>
    <div class="plan-text-container">
      <strong>{{ value.value }}</strong>
    </div>
    <div>
      @if(!yearly) {
      <p class="price-paragraph-gray">{{ value.price.monthly }}</p>
      } @else {
      <p class="price-paragraph-gray">{{ value.price.yearly }}</p>
      <p class="price-paragraph-blue">2 months free</p>
      }
    </div>
  </div>
</mat-radio-button>
