<div [ngClass]="stepFormCssStyling">
  @switch(selectedStepIndex) { @case (1) {
  <app-header
    [text]="'Select your plan'"
    [size]="4"
    [headerCssStyling]="'step-form-header'"
  ></app-header>
  <p class="step-form-sub-header">
    You have the option of monthly or yearly billing.
  </p>
  <form [formGroup]="stepperForm">
    <div formGroupName="plans">
      <mat-radio-group
        class="card-radios-container"
        formControlName="plan"
        (change)="updatePlan($event)"
      >
        @for(planOption of planOptions; track $index) {
        <app-card-radio
          [value]="planOption"
          [yearly]="yearlyPayment"
        ></app-card-radio>
        }
      </mat-radio-group>
      <div class="monthly-yearly-toggle-container">
        <mat-checkbox
          color="primary"
          formControlName="yearly"
          (change)="updateYearlyPayment($event)"
        >
          <div class="toggle-container">
            <app-custom-toggle [yearly]="yearlyPayment"></app-custom-toggle>
          </div>
        </mat-checkbox>
      </div>
      <div class="plans-step-button-container">
        <app-button [text]="'Go Back'" (onClick)="previousStep()"></app-button>
        <app-button [text]="'Next Step'" (onClick)="nextStep()"></app-button>
      </div>
    </div>
  </form>

  } @case (2) {
  <app-header
    [text]="'Pick add-ons'"
    [size]="4"
    [headerCssStyling]="'step-form-header'"
  ></app-header>
  <p class="step-form-sub-header">
    Add-ons help enhance your gaming experience.
  </p>
  <form [formGroup]="stepperForm">
    <div formGroupName="addOns">
      @for(addOn of addOns; track $index) {
      <app-add-on
        [value]="addOn"
        [yearly]="yearlyPayment"
        [class.add-on-test]="addOnCheckbox.checked"
      >
        <mat-checkbox
          #addOnCheckbox
          color="primary"
          [formControlName]="addOn.formControlName"
          (change)="updateAddOns($event, addOn.formControlName)"
        ></mat-checkbox>
      </app-add-on>
      }
    </div>
    <div class="add-ons-step-button-container">
      <app-button [text]="'Go Back'" (onClick)="previousStep()"></app-button>
      <app-button [text]="'Next Step'" (onClick)="nextStep()"></app-button>
    </div>
  </form>
  } @case (3) {
  <app-header
    [text]="'Finishing up'"
    [size]="4"
    [headerCssStyling]="'step-form-header'"
  ></app-header>
  <p class="step-form-sub-header">
    Double-check everything looks OK before confirming.
  </p>
  <div class="summary-and-buttons-container">
    <app-summary
      [plan]="plan"
      [planOptions]="planOptions"
      [addOns]="addOns"
      [yearly]="yearlyPayment"
    >
    </app-summary>
    <div class="summary-step-button-container">
      <app-button [text]="'Go Back'" (onClick)="previousStep()"></app-button>
      <app-button [text]="'Confirm'" (onClick)="nextStep()"></app-button>
    </div>
  </div>
  } @case (4) {
  <p>Selected index = 4</p>
  } @default {
  <app-header
    [text]="'Personal info'"
    [size]="4"
    [headerCssStyling]="'step-form-header'"
  ></app-header>
  <p class="step-form-sub-header">
    Please provide your name, email address and phone number.
  </p>
  <form [formGroup]="stepperForm">
    <div class="stepper-form-info" formGroupName="info">
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input
          matInput
          type="text"
          placeholder="e.g. Stephen King"
          formControlName="name"
          required
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Email Address</mat-label>
        <input
          matInput
          type="email"
          placeholder="e.g. stephenking@lorem.com"
          formControlName="email"
          required
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Phone Number</mat-label>
        <input
          matInput
          placeholder="e.g. +1 234 567 890"
          formControlName="phone"
          required
        />
      </mat-form-field>
    </div>
    <div class="info-step-button-container">
      <app-button [text]="'Next Step'" (onClick)="nextStep()"></app-button>
    </div>
  </form>
  } }
</div>
