<div class="confirmation-container">
  <app-icon-img
    [imgSrc]="'icon-thank-you.svg'"
    [imgAlt]="'Check mark indicating form has been completed'"
    [imgCssStyling]="'confirmation-icon'"
  ></app-icon-img>
  <app-header
    [text]="'Thank you!'"
    [size]="6"
    [headerCssStyling]="'thank-you-header'"
  ></app-header>
  <p class="confirmation-message">
    Thanks for confirming your subscription! We hope you have fun using our
    platform. If you ever need support, please feel free to email us at
    support&#64;loremgaming.com.
  </p>
</div>
