<div class="add-on-container">
  <ng-content />
  <div class="add-on-headings-container">
    <strong class="strong-height"
      ><span data-testid="add-on-heading" class="add-on-heading">{{
        value.heading
      }}</span></strong
    >
    <span data-testid="add-on-sub-heading" class="add-on-subheading">{{
      value.subHeading
    }}</span>
  </div>
  @if(!yearly) {
  <span data-testid="add-on-monthly" class="add-on-price">{{
    value.price.monthly
  }}</span>
  } @else {
  <span data-testid="add-on-yearly" class="add-on-price">{{
    value.price.yearly
  }}</span>

  }
</div>
